@font-face {
	font-family: 'Pe-icon-7-stroke';
	src:
		url('../fonts/Pe-icon-7-stroke.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'BebasNeue';
	src:
		url('../fonts/bebasneue/BebasNeue/Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src:
		url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('ttf');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src:
		url('../fonts/Open_Sans/OpenSans-SemiBold.ttf') format('ttf');
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src:
		url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('ttf');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src:
		url('../fonts/Open_Sans/OpenSans-Light.ttf') format('ttf');
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src:
		url('../fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf') format('ttf');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'OpenSans';
	src:
		url('../fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf') format('ttf');
	font-weight: 600;
	font-style: normal;
}
