<footer class="footer">
  <div class="container">
    <div class="footer_nav">
      <ul>
        <li><a href="#">Объявления</a></li>
        <li><a href="#">Питомники</a></li>
        <li><a href="#">Ветклиники</a></li>
        <li><a href="#">Уход и содержание</a></li>
        <li><a href="#">Корма</a></li>
        <li><a href="#">Форум</a></li>
      </ul>
    </div>
    //= logo.html
    <img src="../images/footer/footer-02.png" alt="" />
    <img src="../images/footer/footer-03.png" alt="" />
    <div class="footer__contact">
      <p>Pets Today © 2015</p>
      <div class="icon--footer-vk"></div>
      <div class="icon--footer-facebook"></div>
      <div class="icon--footer-twitter"></div>
      <a href="#">Создание сайта - WebСтрой</a>
      <img src="../images/footer/footer_icon/footer_icon-04.png" alt="" />
    </div>
  </div>
</footer>
