<section class="news">
  <div class="container">
    <div class="news__nursery">
      <img src="../images/nursery/nursery.jpg" alt="" />
    </div>
    <h3 class="news__head">Самое свежее из блогов</h3>
    <div class="news__card">
      <div class="news__card-01">
        <img src="/Practic-02/src/images/news/news-01.jpg" alt="" />
        <h4>
          Где лучше покупать животных, на птичьем рынке или в зоомагазине?
        </h4>
        <p>
          Практически у каждого, кто задумывается о покупке животного, возникает
          вопрос, где лучше приобрести себе друга, на птичьем рынке или в
          зоомагазине?
        </p>
        <a href="#">Читать подробнее ...</a>
      </div>
      <div class="news__card-02">
        <img src="/Practic-02/src/images/news/news-02.jpg" alt="" />
        <h4>Как определить настроение собаки по вилянию хвоста</h4>
        <p>
          О том, что довольная собака виляет хвостом, а напуганная его поджимает
          известно многим, но это далеко не все, что животное может сказать
          хвост.
        </p>
        <a href="#">Читать подробнее ...</a>
      </div>
      <div class="news__card-03">
        <img src="/Practic-02/src/images/news/news-03.jpg" alt="" />
        <h4>Ученые палеонтологи обнаружили останки доисторических собак</h4>
        <p>
          Международная группа палеонтологов совершенно случайно наткнулась на
          останки животного, которое не было ранее известно науке.
        </p>
        <a href="#">Читать подробнее ...</a>
      </div>
    </div>
  </div>
</section>
