<section class="sidebar">
    <div class="container">
        <div class="sidebar__poll">
            <h5>Опрос</h5>
            <span>Какой питомец сейчас живет у Вас дома?</span>
            <p></p>
        </div>
        <div class="sidebar__list">
<ul>
    <li><a href="#">Голосовать</a></li>
    <li><a href="#">Результаты</a></li>
    <li><a href="#">Все опросы</a></li>
</ul>
        </div>
        <div class="sidebar__relevant">
<h6>Самое обсуждаемое</h6>
<img src="../images/sidebar/sidebar.jpg" alt="">
<h4>Как выбрать ошейник для Вашего любимца?</h4>
        </div>
</div>
</section>
