<section class="useful">
<div class="container">
<h2>Полезные советы</h2>
<div class="useful__card">
<div class="useful__card-01">
    <img src="../images/useful/useful-01.jpg" alt="">
    <h7>Как правильно фотографировать животных</h7>
</div>
<div class="useful__card-02">
    <img src="../images/useful/useful-02.jpg" alt="">
    <h7>Чумка у кошек: симптомы, лечение и профилактика</h7>
</div>
<div class="useful__card-03">
    <img src="../images/useful/useful-03.jpg" alt="">
    <h7>Как аквариум в доме влияет на здоровье человека</h7>
</div>
</div>
</div>
</section>
