.block-title {
    width: 407px;
    background-color: $theme-color;
    color: $primary-white-color;
    border: 2px  solid #124680;
    height: 446px;

}
.block-title h3 {
    font-size: 26px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 0px;
}
.block-title p {
    font-size: 15px;
    margin-top: 0px;
}
.block-title img {
    float:left;
    margin: 0 15px 30px 0;
    margin-bottom: 20px;
}
