h1 {
    color: $primary-white-color;
    font-size: 26px;
    line-height: 51px;
text-transform: capitalize;
margin-top: 0px;
}
.head  {
    border-bottom: 2px solid #ffffff;
    height: 53px;
}
header {
    text-align: center;
    background-color: $theme-color;

}
.list{
    display: flex;

}
.item {
width: 61px;
height: 25px;
background-color: $primary-white-color;
margin-right: 10px;
margin: 20px 10px 10px 0px;

font-size: 15px;

}
a {
    color: #010101;
}
