.position   {

    width: 252px;
    height: 446px;
    background-color: $theme-color;
    border: 2px  solid #124680;
    margin-right: 20px;

}
.position__list {
    color: #124680;
    font-size: 24px;
    text-transform: uppercase;
    background-color: $primary-white-color;
    border: 2px solid #124680;
    margin-bottom: 10px;
&--01 {
    width: 135px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
margin-top: 20px;
}

&--02 {
    width: 142px;
    height: 40px;
    text-align: left;
}

&--03 {
    width: 142px;
    height: 40px;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}

&--04 {
    width: 216px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

&--05 {
    width: 86px;
    height: 40px;
    text-align: left;
}

&--06{
    width: 92px;
    height: 40px;
    text-align: right;
    margin-left: auto;
    margin-right: 0;
}

&--07 {
    width: 142px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
}

}
.position__wrapper {
    width: 216px;
    height: 310px;
    margin: 0 auto;

}
.middle {
    display: flex;


}
